@using DiagoDICOM.Common;
@using DiagoDICOM.Models;
@model IEnumerable<CaseStudies>
@{
	ViewData["Title"] = "Home Page";
}

<script src="~/js/Dialogs.js"></script>
<script>

	var getUrl = window.location;
	var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";


	$(document).ready(function () {
		$('.datepicker').daterangepicker({
			"timePicker": true,
			ranges: {
				'Today': [moment(), moment()],
				'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
				'Last 7 Days': [moment().subtract(6, 'days'), moment()],
				'Last 30 Days': [moment().subtract(29, 'days'), moment()],
				'This Month': [moment().startOf('month'), moment().endOf('month')],
				'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			},
			linkedCalendars: false,
		});
		$('.datepicker').on('apply.daterangepicker', function (ev, picker) {
			var start = picker.startDate;
			var end = picker.endDate;
			$(this).val(start.format('YYYY-MM-DD') + '-' + end.format('YYYY-MM-DD'));
			$.fn.dataTable.ext.search.push(
				function (settings, data, dataIndex) {
					var min = start;
					var max = end;
					var startDate = new Date(data[7].split(" ")[0]);

					if (min == null && max == null) {
						return true;
					}
					if (min == null && startDate <= max) {
						return true;
					}
					if (max == null && startDate >= min) {
						return true;
					}
					if (startDate <= max && startDate >= min) {
						return true;
					}
					return false;
				}
			);
			table.draw();
			$.fn.dataTable.ext.search.pop();
		});
		$('.datepicker').on('cancel.daterangepicker', function (ev, picker) {
			$(this).val('');
			table.draw();
		});
		$('a').removeClass('active');
		$('a.tab4').addClass('active');

		function formatCases(d, clientId) {
			var table = '<table id="tblStatus" class="table table-striped" style="width:90%;margin-left:5%">'
			$.ajax({
				url: baseUrl + "Home/GetStudyStatus?studyId=" + d[8] + "&clientId=" + parseInt($(d[9]).val()),
				type: "Get",
				async: false,
				traditional: true,
				success: function (response) {
					console.log(response)
					table += '<thead><tr><th>Image Id</th><th>Client Status</th><th>Destination Status</th><th>Action</th></tr ></thead >'
					$(response).each(function (i, data) {
						table += '<tbody><td>' + data.sopInstanceUID + '</td>' + '<td>' + data.clientStatus + '</td>' + '<td>' + data.destinationStatus + '</td>'
						table += '<td style="width:110px"><button class="btn btn-secondary btn-sm" title="View Logs" id="btnLogs" onclick="getLogs(this)" data-sopInstanceUID="' + data.sopInstanceUID + '"><i class="fa fa-history"></i ></button>'
					})
				}

			})
			table += '</table>'
			return table;
		}

		var table = $('#tblCases').DataTable({
			//"bSearchable":false,
			processing: "true",
			responsive: {
				
			},
			"bSort": false,
			"bLengthChange": false,
			language: {
				search: "_INPUT_",
				searchPlaceholder: "Search..."
			},
			"columns": [
				{ "width": "3%" },
				{ "width": "10%" },
				{ "width": "10%" },
				{ "width": "9%" },
				{ "width": "7%" },
				{ "width": "5%" },
				{ "width": "11%" },
				{ "width": "11%" },
				{ "width": "20%" },
				{"Width":"5%" }
			],
			order: [1, 'asc']
		});

		var dataTable = $('#tblCases').dataTable();
		$("#searchbox").keyup(function () {
			dataTable.fnFilter(this.value);
		});

		var table = $('#tblCases').DataTable();
		$('#ClientId').on('change', function () {
			table.columns(1).search(this.value).draw();
		});
		$('#DestinationId').on('change', function () {
			table.columns(2).search(this.value).draw();
		});
		$('#ModalityId').on('change', function () {
			table.columns(5).search(this.value).draw();
		});
	});

	function getLogs(e) {
		$.get(baseUrl + "Home/GetLogs", { SopInstanceId: $(e).data('sopinstanceuid') }, function (html) {
			var div = $(html);
			$.showDialog("Logs", div, function () {
			}, function () {
				$(".modal-dialog").removeClass("modal-lg");
			});
		});
	}

	function DeleteStudies(e)
	{
		if (confirm("Are you sure to delete the selected studies")) {
			var array = [];
			$('.chkStudy:checkbox:checked').each(function () {
				array.push($(this).val());
				console.log($(this).val());
			})
			$.post('@Url.Action("DeleteStudies","Home")', { studyIds: array.join() }, function () {
				window.location.reload();
		    })
		}
		else {
			return false;
		}
	}
</script>


<style>
	.modal-content {
		width: 760px;
	}
	table.dataTable {
		border-collapse: collapse !important;
	}
	table.dataTable tbody td {
			word-break: break-word;
			vertical-align: top;
		}
</style>

<div class="row">
	<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
		<input type="text" class="form-control" placeholder="Search" id="searchbox" style="width:200px">
	</div>
	<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
		<div class="form-group">
			@Html.DropDownList("DestinationId", ViewData["Destinations"] as IEnumerable<SelectListItem>, "Select Destination", new { @class = "form-control", @style = "width:200px" })
		</div>
	</div>
	<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
		<div class="form-group">
			@Html.DropDownList("ClientId", ViewData["Clients"] as IEnumerable<SelectListItem>, "Select Client", new { @class = "form-control", @style = "width:200px" })
		</div>
	</div>
	<div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
		<div class="form-group">
			@Html.TextBox("DateRange","",new { @class = "form-control datepicker",@placeholder="Select DateRange" })
		</div>
	</div>
	
</div>

<div class="table-responsive">
	<table id="tblCases" class="table table-bordered table-hover" style="width:100%">
		<thead style="">
			<tr>
				@if (Model.Count() > 0)
				{
					<th><button type="button" class="btn btn-sm btn-danger" title="Delete Studies" onclick="DeleteStudies()"><i class="fa fa-trash"></i></button></th>
				}
				else
				{
					 <th></th>
				}
					<th>Client</th>
					<th>Destination</th>
					<th>Patient Id</th>
					<th>Image Count</th>
					<th>Modality</th>
					<th>Sent On</th>
				    <th>Date of Service</th>
					<th>Study Id</th>
				    <th>Status</th>
				</tr>
		</thead>
		<tbody>
			@if (Model.Count() > 0)
			{
				foreach (var item in Model)
				{
			        <tr>
			        	<td><input type="checkbox"  value="@item.DICOMStudyID" class="chkStudy checkbox-lg"></td>
			        	<td>@item.ClientName</td>
			        	<td>@item.DestinationName</td>
			        	<td>@item.PatientId</td>
			        	<td>@item.ImageCount</td>
			        	<td>@item.Modality</td>
			        	<td>@item.CreatedOn.ToString("yyyy-MM-dd HH-MM-ss")</td>
			        	<td>@item.ScanDate</td>
			        	<td>@item.DICOMStudyID</td>
						<td>
							<div><b>Success : </b>@item.SuccessCount</div>
							<div><b>Failed : </b>@item.FailureCount</div>
						</td>
			        </tr>
				}
			}
			else
			{

			}

		</tbody>
	</table>
	</div>







