@model IEnumerable<DiagoDICOM.Models.Logs>

@{
	ViewData["Title"] = "Logs";
}

<script>
	$(function () {


		$('.datepicker').daterangepicker({
			"timePicker": true,
			ranges: {
				'Today': [moment(), moment()],
				'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
				'Last 7 Days': [moment().subtract(6, 'days'), moment()],
				'Last 30 Days': [moment().subtract(29, 'days'), moment()],
				'This Month': [moment().startOf('month'), moment().endOf('month')],
				'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			},
			linkedCalendars: false,
		});
		$('.datepicker').on('apply.daterangepicker', function (ev, picker) {
			var start = picker.startDate;
			var end = picker.endDate;
			$(this).val(start.format('YYYY-MM-DD') + '-' + end.format('YYYY-MM-DD'));
			$.fn.dataTable.ext.search.push(
				function (settings, data, dataIndex) {
					var min = start;
					var max = end;
					var startDate = new Date(data[7].split(" ")[0]);

					if (min == null && max == null) {
						return true;
					}
					if (min == null && startDate <= max) {
						return true;
					}
					if (max == null && startDate >= min) {
						return true;
					}
					if (startDate <= max && startDate >= min) {
						return true;
					}
					return false;
				}
			);
			table.draw();
			$.fn.dataTable.ext.search.pop();
		});
		$('.datepicker').on('cancel.daterangepicker', function (ev, picker) {
			$(this).val('');
			table.draw();
		});

		$('a').removeClass('active');
		$('a.tab5').addClass('active');

		var table = $('#tblLogs').DataTable({
			//"bSearchable":false,
			//"rowsGroup": [0,1],
			processing: "true",
			responsive: {

			},
			"pageLength": 50,
			"bSort": false,
			"bLengthChange": false,
			"scrollY": "400px",
			"scrollCollapse": true,
			language: {
				search: "_INPUT_",
				searchPlaceholder: "Search..."
			},
		});

		var dataTable = $('#tblLogs').dataTable();
		$("#searchbox").keyup(function () {
			dataTable.fnFilter(this.value);
		});

		var table = $('#tblCases').DataTable();
		$('#ClientId').on('change', function () {
			table.columns(2).search(this.value).draw();
		});
		$('#DestinationId').on('change', function () {
			table.columns(3).search(this.value).draw();
		});
	});

	function DeleteLogs(e)
	{
		if (confirm("Are you sure to delete the selected logs")) {
			var array = [];
			$('.chkLog:checkbox:checked').each(function () {
				array.push($(this).val());
			})
			$.post('@Url.Action("DeleteLogs","Home")', { logIds: array.join() }, function () {
				window.location.reload();
		    })
		}
		else {
			return false;
		}
	}
</script>
<style>

	table.dataTable {
		border-collapse: collapse !important;
	}
		table.dataTable tbody td {
			word-break: break-word;
			vertical-align: top;
		}
</style>
<div class="row">
	<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
		<input type="text" class="form-control" placeholder="Search" id="searchbox" style="width:200px">
	</div>
	<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
		<div class="form-group">
			@Html.DropDownList("DestinationId", ViewData["Destinations"] as IEnumerable<SelectListItem>, "Select Destination", new { @class = "form-control", @style = "width:200px" })
		</div>
	</div>
	<div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
		<div class="form-group">
			@Html.DropDownList("ClientId", ViewData["Clients"] as IEnumerable<SelectListItem>, "Select Client", new { @class = "form-control", @style = "width:200px" })
		</div>
	</div>
	<div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
		<div class="form-group">
			@Html.TextBox("DateRange", "", new { @class = "form-control datepicker", @placeholder = "Select DateRange" })
		</div>
	</div>
</div>
	<div class="">
		<table class="table table-bordered table-hover" id="tblLogs" style="width:100%">
			<thead>
				<tr>
					@if (Model.Count() > 0)
					{
						<th><button type="button" class="btn btn-sm btn-danger" title="Delete Logs" onclick="DeleteLogs()"><i class="fa fa-trash"></i></button></th>
					}
					else
					{
						<th></th>
					}
					<th>SOP Instance UID</th>
					<th>Client Name</th>
					<th>Destination Name</th>
					<th>Created On</th>
					<th>Info</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
				<tr>
					<td><input type="checkbox" value="@item.LogId" class="chkLog checkbox-lg"></td>
					<td>@item.Value</td>
					<td>@item.ClientName</td>
					<td>@item.DestinationName</td>
					<td>@item.CreatedOn</td>
					<td class="wrdBrk">@item.ExceptionDetails</td>
				</tr>
				}
				</tbody>
		</table>
</div>
